# ide files
*.idea
*.iml

# pycache
__pycache__/

# cmake build files
cmake-build-debug/

# files from university
lab_gniazda/

# library files
lib/

# compiled java
*.jar
out/

# hospital has own gitignore
!hospital/**
